<!DOCTYPE html>
html lang="zh-TW"
  head
    include head
    title AIM 會員集點卡


  body
    .wrapper
      header.header
        .site-title
          h1.brand ESi
        .member
          .member-content
            .member-avatar
              img.img-fluid src="https://source.unsplash.com/QXevDflbl8A/100x100"
            .member-data
              h2.member-name.mb-1 Abby Lee
              .mb-1
                span.member-level
                  span.badge 一般會員
                span.member-point
                  i.fas.fa-coins.mr-1 aria-label="point"
                  | 150
              .member-progress
                .progress
                  .progress-bar.bg-warning[role="progressbar" style="width: 85%;" aria-valuenow="1700" aria-valuemin="0" aria-valuemax="2000"]
                .task-badges.justify-content-between
                  span 1700 / 2000
                  span
                    | 升等VIP
        nav.main-tab
          #nav-tab.nav.nav-tabs[role="tablist"]
            a#nav-task-tab.nav-link.active[data-toggle="tab" href="#nav-task" role="tab" aria-controls="nav-task" aria-selected="true"]
              | 任務專區
            a#nav-present-tab.nav-link[data-toggle="tab" href="#nav-present" role="tab" aria-controls="nav-present" aria-selected="false"]
              | 兌換禮物
            a#nav-log-tab.nav-link[data-toggle="tab" href="#nav-log" role="tab" aria-controls="nav-log" aria-selected="false"]
              | 歷史記錄

      main.main

        .container.py-4
        
          #nav-tabContent.tab-content
            #nav-task.tab-pane.fade.active.show[role="tabpanel" aria-labelledby="nav-task-tab"]
              a.task.task--pinned.mb-2 href=""
                .task-content
                  .task-thumb
                    img.img-fluid src="https://source.unsplash.com/niUkImZcSP8/80x80"
                  .task-data
                    h3.task-title 觀看影片
                    .task-badges
                      .task-point.badge
                        span.task-point-oprt +
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2021.11.30
              a.task.mb-2 href=""
                .task-content
                  .task-thumb
                    i.fas.fa-film aria-hidden="true"
                  .task-data
                    h3.task-title 觀看影片
                    .task-badges
                      .task-point.badge
                        span.task-point-oprt +
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                      .task-point.badge 限黃金會員
                      .task-point.badge 限白金會員
                      .task-point.badge 限白金會員
                      .task-point.badge 限白金會員
                    .task-period 2021.01.01 ~ 2021.11.30
              a.task.mb-2 href=""
                .task-content
                  .task-thumb
                    i.fas.fa-clipboard-check aria-hidden="true"
                  .task-data
                    h3.task-title 觀看影片
                    .task-badges
                      .task-point.badge
                        span.task-point-oprt +
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2021.11.30
              a.task.task--disabled.task--covered.mb-2 href=""
                .task-content
                  .task-thumb
                    img.img-fluid src="https://source.unsplash.com/niUkImZcSP8/80x80"
                  .task-data
                    h3.task-title 觀看影片
                    .task-badges
                      .task-point.badge
                        span.task-point-oprt +
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2022.02.28
                .task-condition
                  i.fas.fa-lock.text-muted.fa-3x.mr-2 aria-hidden="true"
                  p
                    span.fs-4.font-weight-bold 限已綁定好友
                    br
                    span （會員等級）

              a.task.task--disabled.task--covered.mb-2 href=""
                .task-content
                  .task-thumb
                    img.img-fluid src="https://source.unsplash.com/niUkImZcSP8/80x80"
                  .task-data
                    h3.task-title 觀看影片
                    .task-badges
                      .task-point.badge
                        span.task-point-oprt +
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2022.02.28
                .task-condition
                  i.fas.fa-check.text-success.fa-3x.mr-2 aria-hidden="true"
                  p
                    span.fs-4.font-weight-bold 已完成

            #nav-present.tab-pane.fade[role="tabpanel" aria-labelledby="nav-present-tab"]
              .text-right.mb-2
                a.btn.btn-link.pr-0 role="button" href=""
                  | 前往我的票匣
                  i.fas.fa-chevron-double-right.ml-2 aria-hidden="true"
              a.task.task--pinned.mb-2 href=""
                .task-content
                  .task-thumb
                    img.img-fluid src="https://source.unsplash.com/ZLTlHeKbh04/80x80"
                  .task-data
                    h3.task-title 好友禮
                    .task-badges
                      .task-point.badge
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2021.11.30
              a.task.mb-2 href=""
                .task-content
                  .task-thumb
                    i.fas.fa-gifts aria-hidden="true"
                  .task-data
                    h3.task-title 好友禮
                    .task-badges
                      .task-point.badge
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2021.11.30
              a.task.task--disabled.mb-2 href=""
                .task-content
                  .task-thumb
                    i.fas.fa-gifts aria-hidden="true"
                  .task-data
                    h3.task-title 高級禮物
                    .task-badges
                      .task-point.badge
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 1000
                    .task-period 2021.01.01 ~ 2021.11.30
              a.task.task--disabled.mb-2 href=""
                .task-content
                  .task-thumb
                    i.fas.fa-gifts aria-hidden="true"
                  .task-data
                    h3.task-title 高級禮物
                    .task-badges
                      .task-point.badge
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 1000
                      .task-point.badge
                        | 限白金會員
                    .task-period 2021.01.01 ~ 2021.11.30
              a.task.task--disabled.task--covered.mb-2 href=""
                .task-content
                  .task-thumb
                    img.img-fluid src="https://source.unsplash.com/ZLTlHeKbh04/80x80"
                  .task-data
                    h3.task-title 好友禮
                    .task-badges
                      .task-point.badge
                        | -
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2022.02.28
                .task-condition
                  i.fas.fa-lock.text-muted.fa-3x.mr-2 aria-hidden="true"
                  p
                    span.fs-4.font-weight-bold 限白金會員
              a.task.task--disabled.task--covered.mb-2 href=""
                .task-content
                  .task-thumb
                    img.img-fluid src="https://source.unsplash.com/ZLTlHeKbh04/80x80"
                  .task-data
                    h3.task-title 好友禮
                    .task-badges
                      .task-point.badge
                        span.task-point-oprt +
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2022.02.28
                .task-condition
                  i.fas.fa-check.text-success.fa-3x.mr-2 aria-hidden="true"
                  p
                    span.fs-4.font-weight-bold 已兌換

              a.task.task--disabled.task--covered.mb-2 href=""
                .task-content
                  .task-thumb
                    img.img-fluid src="https://source.unsplash.com/ZLTlHeKbh04/80x80"
                  .task-data
                    h3.task-title 好友禮
                    .task-badges
                      .task-point.badge
                        span.task-point-oprt +
                        i.fas.fa-coins.mx-1 aria-label="point"
                        | 10
                    .task-period 2021.01.01 ~ 2022.02.28
                .task-condition
                  i.fas.fa-box-open.text-muted.fa-3x.mr-2 aria-hidden="true"
                  p
                    span.fs-4.font-weight-bold 已兌換完畢              
            #nav-log.tab-pane.fade[role="tabpanel" aria-labelledby="nav-log-tab"]
              .log
                .task.mb-2
                  .task-content
                    .task-thumb
                      i.fas.fa-gifts aria-hidden="true"
                    .task-data
                      h3.task-title 高級禮物
                      .task-badges
                        .task-point.badge
                          span.task-point-oprt -
                          i.fas.fa-coins.mx-1 aria-label="point"
                          | 1000
                      .task-period 2021.07.01
                .task.mb-2
                  .task-content
                    .task-thumb
                      img.img-fluid src="https://source.unsplash.com/niUkImZcSP8/80x80"
                    .task-data
                      h3.task-title 觀看影片
                      .task-badges
                        .task-point.badge
                          span.task-point-oprt +
                          i.fas.fa-coins.mx-1 aria-label="point"
                          | 10
                      .task-period 2021.06.24





    script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"
    script data-search-pseudo-elements="" src="https://kit.fontawesome.com/1dbc246779.js" crossorigin="anonymous"