<!DOCTYPE html>
html lang="zh-TW"
  head
    meta charset="UTF-8"/
    meta name="viewport" content="width=device-width, initial-scale=1.0"/
    link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" /
    link rel="stylesheet" href="css/style-scan.css"/
    title AIM 會員集點卡


  body
    section
      .wrapper
        header.header
          .site-title
            h1.brand ESi

        main.main.mt-3
          .container
            p.text-center 請掃描QR code
            .scan
              svg.scan-view id="scanView" data-name="scanView" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                path d="M376.78,0h59.67A11.52,11.52,0,0,1,448,11.55V71.23A5.79,5.79,0,0,1,442.23,77h-3.85a5.79,5.79,0,0,1-5.78-5.77V15.4H376.78A5.79,5.79,0,0,1,371,9.63V5.78A5.8,5.8,0,0,1,376.78,0ZM448,440.78v59.67A11.52,11.52,0,0,1,436.45,512H376.78a5.79,5.79,0,0,1-5.78-5.77v-3.85a5.8,5.8,0,0,1,5.78-5.78H432.6V440.78a5.8,5.8,0,0,1,5.78-5.78h3.85A5.79,5.79,0,0,1,448,440.78ZM135.22,512H75.55A11.52,11.52,0,0,1,64,500.45V440.78A5.79,5.79,0,0,1,69.77,435h3.85a5.8,5.8,0,0,1,5.78,5.78V496.6h55.82a5.8,5.8,0,0,1,5.78,5.78v3.85A5.79,5.79,0,0,1,135.22,512ZM64,71.23V11.55A11.52,11.52,0,0,1,75.55,0h59.67A5.8,5.8,0,0,1,141,5.78V9.63a5.79,5.79,0,0,1-5.78,5.77H79.4V71.23A5.79,5.79,0,0,1,73.62,77H69.77A5.79,5.79,0,0,1,64,71.23Z" transform="translate(-64 0)"
              img src="https://source.unsplash.com/random/1200x1600"