/* *************************************
//
//   AIM 會員集點卡 -- Layout
//   -> 格局框架設定
//
//   00.Global
//   01.Header - Member
//   02.Header - Nav
//   03.
//   04.
//   05.
//   99.footer
//
//
// ************************************/
/* -------------------------------------
//   00.Global
// -----------------------------------*/

$tab-active-bg-color: #f2f6f7;
$tab-bg-color: LightGray;

body {
    font-family: $font-family-sans-serif;
}

.wrapper {
    min-height: 100vh;
    background-color: $tab-active-bg-color;
}

/* -------------------------------------
//   01.Header - Member
// -----------------------------------*/
.header {
    background: #24C6DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #514A9D, #24C6DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //background: url(https://source.unsplash.com/vI68wbJWlDg);
    //background-size: cover;
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: white;
    background-color: rgba(0, 0, 0, .7);

    .brand {
        font-size: .85rem;
        margin-bottom: 0;
    }
}

.member {

    &-content {
        display: flex;
        width: 300px;
        color: white;
        margin: 0 auto;
        padding: 16px 0 25px;
    }

    &-avatar {
        height: 100px;
        flex: 0 0 100px;
        overflow: hidden;
        border: 3px solid;
        border-radius: 50%;
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .25);
    }

    &-data {
        display: flex;
        flex: 1 0 50%;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 1rem;
    }

    &-name {
        flex: 1 0 100%;
        font-size: 1.65rem;
        font-weight: normal;
        margin-bottom: 0;
    }

    &-point {
        margin-left: .5rem;

        i,
        svg {
            color: $yellow;
        }
    }

    &-level {
        .badge {
            font-size: 85%;
            border: 1px solid;
        }
    }

    &-progress {
        flex: 1 0 100%;

        .progress {
            height: .3rem;
            background-color: rgba(0, 0, 0, .35);
        }

        span {
            font-size: .75rem;
        }
    }
}

/* -------------------------------------
//   02.Header - Nav
// -----------------------------------*/


.main-tab {
    text-align: center;
    overflow: hidden;
}

.nav-tabs {
    display: inline-flex;
    margin: 0 auto;
    margin-bottom: -1px;
    //padding-left: 35px;
    //padding-right: 35px;
}

#nav-task-tab {
    z-index: 3;
}

#nav-present-tab {
    z-index: 2;
}

#nav-log-tab {
    z-index: 1;
}

.main-tab .nav .nav-link {
    display: block;
    position: relative;
    margin-left: 23px;
    margin-right: 23px;
    padding: 10px 0 8px;
    font-size: .875rem;
    color: $body-color;
    border: none;
    border-radius: 8px 8px 0 0;
    text-transform: uppercase;
    //transition: all 250ms ease;
    background-color: $tab-bg-color;
    cursor: pointer;

    &::before,
    &::after {
        display: block;
        content: " ";
        position: absolute;
        top: 0;
        height: 100%;
        width: 44px;
        //transition: all 250ms ease;
        background-color: $tab-bg-color;
        z-index: -1;
    }

    &::before {
        right: -24px;
        transform: skew(30deg, 0deg);
        border-radius: 0 8px 0 0;
        box-shadow: rgba(0, 0, 0, .18) 3px 0 4px;
    }

    &::after {
        left: -24px;
        transform: skew(-30deg, 0deg);
        border-radius: 8px 0 0 0;
        box-shadow: rgba(0, 0, 0, .15) -3px 0 3px;
    }

    &.active {
        z-index: 10 !important;
    }

    &.active,
    &.active::before,
    &.active::after {
        background-color: $tab-active-bg-color;

    }
}

/* -------------------------------------
//   03.Main
// -----------------------------------*/

.main {
    background-color: $tab-active-bg-color;
}