/* *************************************
//
//   AIM 會員集點卡 -- Module
//   -> 元件模組
//
//   01.
//   02.
//
// ************************************/

/* -------------------------------------
//   0.
// -----------------------------------*/
.text-white-70 {
    color: rgba(255, 255, 255, .70) !important;
}

.fs-1 {
    font-size: 2.5rem !important;
}

.fs-2 {
    font-size: 2rem !important;
}

.fs-3 {
    font-size: 1.75rem !important;
}

.fs-4 {
    font-size: 1.5rem !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.fs-6 {
    font-size: 1rem !important;
}