/* *************************************
//
//   AIM 會員集點卡 -- Partial
//   -> 個別頁面樣式設定
//
//
//   01.
//   02.
//   03.
//   04.
//   05.
//   06.
//   07.
//   08.
//
//
// ************************************/
/* -------------------------------------
//   01.task 任務專區
// -----------------------------------*/

.task {
    display: block;
    position: relative;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .07);

    &,
    &:hover,
    &:focus,
    &:active {
        color: $body-color;
        text-decoration: none;
    }

    &-content {
        display: flex;
        //color: white;
        padding: 1rem .8rem;
        background-color: white;
    }

    /* 縮圖 */
    &-thumb {
        position: relative;
        height: 80px;
        flex: 0 0 80px;
        margin-right: 1rem;
        border-radius: $border-radius;
        background-color: $gray-200;
        overflow: hidden;

        img {
            position: relative;
            z-index: 2;
        }

        i,
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            opacity: .5;
            z-index: 1;
        }
    }

    &-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-title {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: .15rem;
    }

    &-point {
        font-size: 90%;
        color: white;
        background-color: rgba(0, 0, 0, .65);
        background-color: $success;

        &-oprt {
            font-size: 1.5em;
            line-height: 0;
            margin-right: .5rem;
        }

        i,
        svg {
            color: lighten($yellow, 10%);
        }
    }

    &-badges {
        display: flex;
        flex-wrap: wrap;
        margin-top: -.2rem;


        .badge {
            margin-top: .2rem;
            margin-right: .2rem;
        }
    }

    &-period {
        font-size: .875rem;
        margin-top: auto;
        opacity: .75;
    }

    .task-condition {
        display: none;
    }

}

/* 置頂任務 */

.task--pinned {
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);

    &::after {
        content: '\f08d';
        display: none;
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
    }

    >svg {
        position: absolute;
        top: .3rem;
        right: 1rem;
        height: 1.8rem;
        width: 1.8rem;
        justify-content: center;
        align-items: center;
        color: $red;
    }

    .task-content {
        padding: 1rem 1.8rem 1rem .8rem;
    }
}

/* 不可用任務（包含限定條件、已完成） */

.task--disabled {
    pointer-events: none;
    box-shadow: none;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        z-index: 2;
    }

    .task-content {
        opacity: .7;
    }

    .task-point {
        background-color: rgba(0, 0, 0, .45);
    }

    .task-condition {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;

        p {
            margin-right: 1rem;
            margin-bottom: 0;
        }
    }
}

/* 限定條件、已完成任務 */

.task--covered {
    &::before {
        background-color: rgba(0, 0, 0, .1);
    }

    .task-content {
        opacity: .15;
    }

    .task-condition {
        color: $gray-800;
    }
}

/* -------------------------------------
//   02.present 兌換禮物
// -----------------------------------*/

/* -------------------------------------
//   03.log 歷史記錄
// -----------------------------------*/

.log {
    .task {
        pointer-events: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        box-shadow: none;

        &-content {
            background-color: transparent;
        }

        &-point {
            background-color: rgba(0, 0, 0, .45);
        }
    }
}