@charset "UTF-8";
@import "theme";
@import "mixin";

@import "bootstrap_v4.6.0/bootstrap";

/* ------ page style ------ */
@import "base";

/* -------------------------------------
//   00.Global
// -----------------------------------*/

$tab-active-bg-color: #f2f6f7;
$tab-bg-color: LightGray;

body {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif;
}

.wrapper {
    min-height: 100vh;
    background-color: $tab-active-bg-color;
}

/* -------------------------------------
//   01.Header
// -----------------------------------*/
.header {
    background: #24C6DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #514A9D, #24C6DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //background: url(https://source.unsplash.com/vI68wbJWlDg);
    //background-size: cover;
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: white;
    background-color: rgba(0, 0, 0, .7);

    .brand {
        font-size: .85rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* -------------------------------------
//   02.Scan
// -----------------------------------*/

.scan {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: calc(4 / 3 * 100%);

    &-view {
        position: absolute;
        fill: rgba(255, 255, 255, .5);
        height: 80%;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    video {
        width: 100%;
        height: auto;
    }
}